h1 {
    color: #FCA311;
}
body {
    color: #FCA311;
    background-color: #14213D;
}
input {
   background-color: #14213D;
   margin: 1rem 1rem 2rem 0rem;
   padding: 1rem 1rem 1rem 1rem;
   border-color: #FFFFFF;
   border-radius: 15px;
}
::placeholder {
    color: #FFFFFF;
  }
input[type="submit"] {
    background-color: #FCA311;
    color: #FFFFFF;
}
